{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <h1>All Expenses by month:</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Concept</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Amount</th>
                    <th>Notes</th>
                    <th>Action</th>  
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.concept }}</td>
                    <td>{{ expense.month }}</td>
                    <td>{{ expense.year }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.notes }}</td>
                    <td>
                        <form method="post" action="{{ url_for('delete_expense', id=expense.id) }}" onsubmit="return confirm('Are you sure you want to delete this expense?');">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container-fluid">
        <div class="d-grid gap-2 col-6 mx-auto p-3">
          <a href="/reports" button class="btn btn-success" type="button">Back to Reports Index</a>
        </div>
      </div>

{% endblock %}  

