{% extends "base.html" %}
{% block content %}
    <section class="py-5 text-center container">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Expenses</h5>
            <p class="card-text"> </p>
          </div>
          <div class="card-footer">
            <a href="/add_expense" button type="button" class="btn btn-success btn-lg btn-block">For Add Expenses</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Reports</h5>
            <p class="card-text"> </p>
          </div>
          <div class="card-footer">
            <a href="/reports" button type="button" class="btn btn-success btn-lg btn-block">Go to Reports</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add/Delete Concepts</h5>
            <p class="card-text"> </p>
          </div>
          <div class="card-footer">
            <a href="/concepts" button type="button" class="btn btn-success btn-lg btn-block">Go to Concepts</a>
          </div>
        </div>
      </div>
    </section>
  
  {% endblock %}
  