{% extends "base.html" %}
{% block content %}
    <div class="container p-2">
        <div class="rendered_html">
            <table>
              {% for table in tables%}
              {{titles[loop.index]}}
                {{table | safe}}
                {% endfor %}
            </table>
        </div>
      </div>
  <div class="container-fluid">
    <div class="d-grid gap-2 col-6 mx-auto p-3">
      <a href="/reports" button class="btn btn-success" type="button">Back to Reports Index</a>
    </div>
  </div>


{% endblock %}
